name: generator

on:
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v3.1.0
      - name: Update financing
        uses: linuxsuren/yaml-readme@v0.0.15
        env:
          GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        with:
          pattern: 'data/financing/*.yaml'
          template: 'data/financing/financing.tpl'
          output: 'financing.md'
          username: linuxsuren
          org: linuxsuren
          repo: open-source-best-practice
          push: false
          orderby: date
          sortby: '!date'
      - name: Update DevRel
        uses: linuxsuren/yaml-readme@v0.0.15
        env:
          GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        with:
          pattern: 'what/items/devrel-*.yaml'
          template: 'what/devrel.tpl'
          output: 'what/devrel.md'
          username: linuxsuren
          org: linuxsuren
          repo: open-source-best-practice
          push: false
      - name: Update jobs
        uses: linuxsuren/yaml-readme@v0.0.15
        env:
          GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        with:
          pattern: 'what/items/job-*.yaml'
          template: 'what/jobs.tpl'
          output: 'what/jobs.md'
          username: linuxsuren
          org: linuxsuren
          repo: open-source-best-practice
