name: generator

on:
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v3
      - name: Update financing
        uses: linuxsuren/yaml-readme@v0.0.7
        env:
          GH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        with:
          pattern: 'data/financing/*.yaml'
          template: 'data/financing/financing.tpl'
          output: 'financing.md'
          username: linuxsuren
          org: linuxsuren
          repo: open-source-best-practice
